body {
  line-height: 1.8;
  margin: 0;
}

/* Constants */

:root {
  --grid: 16px;
}

/* Box */

.box {
  margin-top: var(--grid);
  min-height: calc(4 * var(--grid));
}

.box__black {
  background-color: black;
}

.box__red {
  background-color: red;
}

/* Grid */

.grid {
  display: grid;
  grid-template-areas:
    "black"
    "red"
    "text";
}

.grid__black {
  grid-area: black;
}

.grid__red {
  grid-area: red;
}

.grid__text {
  grid-area: text;
}

/* Text */

.text {
  margin-top: var(--grid);
}

.text p:first-of-type {
  margin-top: 0;
}

/* Wrapper */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 56em;
}



/* i will add media queries only below for the devices with differnt screen
 600px, and 900px */

@media all and (max-width: 899px) and (min-width: 600px){
  
  .grid__text {
    grid-area: text;
    padding-left: 150px;
  }
  
  .wrapper {
    margin: 10px;
  }

.box {
  margin: var(--grid);
  min-height: calc(4 * var(--grid));
  padding: var(--grid);
  width: 80%;
}


.grid {
  grid-template-areas:
    "red text"
    "black text"; /* for the column arrengments */
}

}

@media screen and (min-width: 900px){
   
    .grid {
      display: grid;
      grid-template-areas:
        "black text red";
    
    }
    .box {
      margin: var(--grid);
      min-height: calc(4 * var(--grid));
      padding: var(--grid);
      width: 80%; 
    }
    .grid__text {
    grid-area: text;
    padding-left: 25px;
  }

    }
      
