/* The only reset you’ll ever need */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper{
  display:grid;
  background:#eee;
  padding: 6em 3em 6em 3em;
}


.box{
  background-color: white;
  padding: 15px 0px 5px 15px;
  border-radius: 16px;
  
  
}
 
.grid {
   display:grid;
   grid-template-columns:repeat(3, 1fr);
   grid-auto-rows: 300px;
   grid-gap:3em;
  
  
}

.picture {
  display:grid;
  grid-template-areas: "picture heading"
  ;
}


h4{
  opacity: 0.3;
}


h3{
  font-weight: bold;
}

p {
  display:grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  float: right;

}



.button-1 {
  border-radius: 36px;
  font-size: 18px;
  width: 20%;
  background-color:#eee;
  color: gray;
  display: inline;
  position: relative;
  top:100px;
  left:190px;
  
}

.button-2 {
  border-radius: 36px;
  font-size: 18px;
  width: 20%;
  background-color: #4f50ff;;
  color: white;
  position: relative;
  top:73px;
  left:330px;
}



#star{
  width: 12%;
}

h6{
  color: rgb(235, 235, 62);
}

.picture_2 {
  display:grid;
  grid-template-columns: 1fr 3fr 2fr; 

}

.button-5 {
  border-radius: 36px;
  font-size: 18px;
  width: 20%;
  background-color:#eee;
  color: gray;
  display: inline;
  position: relative;
  top:170px;
  left:230px;
  
}


.button-6 {
  border-radius: 36px;
  font-size: 18px;
  width: 20%;
  background-color: #4f50ff;
  color: white;
  position: relative;
  top:140px;
  left:350px;
}




